*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --slate-50: oklch(98.4% 0.003 247.858);
  --slate-400: oklch(70.4% 0.04 256.788);
  --slate-800: oklch(27.9% 0.041 260.031);
  --slate-950: oklch(12.9% 0.042 264.695);
  --blue-500: oklch(62.3% 0.214 259.815);
  --side-margin: 10%;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: var(--slate-50);
  color: var(--slate-950);
}

a {
  text-decoration: none;
  color: var(--blue-500);
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem var(--side-margin);
  background-color: var(--slate-800);
}

.navbar a {
  color: var(--slate-400);
  transition: color 400ms;
}

.navbar a:hover {
  color: var(--slate-50);
  text-decoration: none;
}

.navlinks {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

@media (max-width: 32rem) {
  .navbar {
    flex-direction: column;
  }
}

.content {
  padding: 2rem var(--side-margin);
  flex-grow: 1;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tournaments-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 50rem) {
  .column-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.membership-list {
  list-style: none;
}

.title {
  padding-bottom: 1rem;
}

.subtitle {
  padding-bottom: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--slate-800);
  color: var(--slate-50);
  text-align: center;
  padding: 1rem;
}

.footer .copyright {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--slate-400);
}

.footer a {
  color: inherit;
}

@media (max-width: 64rem) {
  :root {
    --side-margin: 5%;
  }
}

@media (max-width: 40rem) {
  :root {
    --side-margin: 2rem;
  }
}

